/* Navbar.css */

/* Navbar container */
.navbar {
    padding: 1rem;
    background-color: #ffffff;
    /* Set your desired background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
}

/* Company name styling */
.company-name h2 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #333333;
    margin-left: -9%;
    margin-top: 8%;
}

/* Navbar links styling */
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

.nav-item {
    margin-right: 1.5rem;
}

/* Cart and Profile icon styling */
.cart,
.profile-icon {
    height: 2rem;
    /* Set your desired icon height */
    margin-left: auto;
    /* Align icons to the right */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* Add cursor pointer for better user interaction */
}

/* Offcanvas styles */
.offcanvas-header {
    padding-bottom: 0;
}

.offcanvas-title {
    display: flex;
    align-items: center;
}

.company-logo {
    cursor: pointer;
    max-height: 2rem;
}

/* Dropdown menu styling */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 12rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: background-color 0.3s ease;
    /* Add smooth transition */
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #007bff;
    text-decoration: none;
    background-color: #f8f9fa;
}
/* Cart and Profile icon styling */
.cart,
.profile-icon {
    height: 2rem;
    /* Set your desired icon height */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* Add cursor pointer for better user interaction */
}


.profile-icon
 {
    margin-left: 53%;
    margin-top: 4%;
    /* Add some spacing between cart and profile icons */
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .company-name {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .cart,
    .profile-icon {
        margin-left: 0;
        margin-top: 1rem;
        /* Add some spacing between icons */
    }
}
