/* ProductList.css */

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    /* Add margin as needed */
}

/* Style for each CarItem */
.car-item-container {
    width: 45%;
    /* Adjust the width of each item */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Hide overflowing content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
}

.car-item-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* Hide overflowing image */
}

.car-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* Maintain image aspect ratio and cover container */
    border-bottom: 1px solid #ddd;
    /* Add a border between image and content */
}

.car-item-content {
    padding: 15px;
}

.car-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.rent-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}

.car-item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.car-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

.car-btn {
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: #f6efef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 40%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 30%;
}

.car-btn:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}