.return-policy-container {
   
    padding: 20px;
}

.return-policy-content {
    margin-top: -6%;
    padding: 10%;
}

.return-policy-content h3 {
    font-size: 100%;
    font-weight: 600;

}

h1.return-policy-title {
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    font-size: 140%;
    color: #045ab1;
}

h2 {
    color: #045ab1;
    margin-left: -80%;
    font-size: 170%;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 1%;
}



/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .return-policy-container {
        padding: 10px;
    }

    h1.return-policy-title {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}