

@media(max-width:500px){
    .headerMenu{
            display: none;

    }
}
@media(min-width:500px) {
    .menuIcon {
        display: none;

    }
}   
.carousel-slide {
    position: relative;
    overflow: hidden;

}

.carousel-video {
    width: 100%;
    height: auto;
    opacity: 1;

    /* Adjust the transparency as needed */
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    text-align: center;
    color: white;

    /* Text color */
}

.carousel-text h1 {
    font-size: 5em;
    margin-bottom: 10px;
    color: rgb(60, 19, 225);
    font-weight: 600;
    animation: slideInLeft 1s ease-out forwards;
}

.carousel-text p {
    font-size: 1.2em;
    margin: 0;
}